<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/sideDrawer') %>
    <main>
      <h1>Page Not Found!</h1>
      <p>Unfortunately we were not able to find this page.</p>
    </main>
  </body>
</html>
